@charset "utf-8";
/* CSS Document */
html { height: 100%; }
      body { height: 100%; margin: 0; padding: 0; font-family: Tahoma, Geneva, sans-serif; overflow-x: hidden;}
	  p { font-size:12px; color:#545454; margin:0;}
 	  header { 
 	  	width:100%; 
 	  	height:auto !important; 
 	  	background:url(imgs/bg_header.png) repeat; 
 	  	position:relative; z-index:1; }
	  .center { margin:0 auto; }
	  /* Kleber */
	  

	  .header-top { 
        width: 100%;
        height: auto; 
	  }
	 
	 .header-top  img{
          width: 100%;
          min-height: auto;
     }
     
     @media (min-width: 860px) and (max-width: 1400px) {
	  	.header-top  img{
          content:url("imgs/header-1400.png");
     	}	
	  }
	  
	  @media (min-width: 641px) and (max-width: 851px) {
	  	.header-top  img{
          content:url("imgs/header-851.png");
     	}
	  }
	  
	  @media (min-width: 321px) and (max-width: 640px) {
	  	.header-top  img{
          content:url("imgs/header-480.png");
     	}
	  }
	  
	  @media (max-width: 320px){
	  	.header-top  img{
          content:url("imgs/header-320.png");
     	}
	  }
     
     
     /* @media (min-width: 860px) and (max-width: 1400px) {
 	   //header {width:100%; height:160px !important; background:url(imgs/bg_header-1400.png) repeat !important; position:relative; z-index:1; }		   
	  .header-top { width:100%; height:160px !important; background:url(imgs/header-1400.png) no-repeat center top !important; }
	  }
	  
	  @media (min-width: 641px) and (max-width: 851px) {
 	   //header {width:100%; height:160px !important; background:url(imgs/bg_header-851.png) repeat !important; position:relative; z-index:1; }		   
	  .header-top { width:100%; height:160px !important; background:url(imgs/header-851.png) no-repeat center top !important; }
	  }
	  
	  @media (min-width: 321px) and (max-width: 640px) {
 	   header {width:100%; height:100px !important; background:url(imgs/bg_header-480.png) repeat !important; position:relative; z-index:1; }		   
	  .header-top { width:100%; height:100px !important; background:url(imgs/header-480.png) no-repeat center top !important; }
	  }
	  
	  @media (max-width: 320px){
   	   header { width:100%; height:80px !important; background:url(imgs/bg_header-320.png) repeat !important; position:relative; z-index:1; }
	  .header-top { width:100%; height:80px !important; background:url(imgs/header-320.png) no-repeat center top !important; }
	  }
*/
	  

	  
	  .container-inst {  box-shadow: 0px 1px 3px #888;} 	/* Kleber */
	  .instrucao {width:100%; height:auto; padding:5px 0px; text-align:center; background:#FFF; position:relative; z-index:1; }
	  .instrucao h2 { color:#D80000; font-size:18px; margin-top:0px; margin-bottom:2px;}
	  .instrucao p {font-size:12px; color:#535353; line-height:14px;}
	  
	  
	   @media (min-width: 321px) and (max-width: 640px) {
  	  .instrucao h2 { font-size:14px; margin-bottom:2px;}
	  .instrucao p {font-size:11px; line-height:12px;}
	  }
	  @media (max-width: 320px){
	  .instrucao h2 {
			display:block;
			font-size: 11px;
	  }
	  .instrucao p {font-size:10px; line-height:12px;}
	  }
	  .instrucao .center {
    /*height: 113px;*/
    padding: 0 0 0 20px;
    position: relative;
    width: 720px;}	  
	  .hold { margin-right: -350px;
    position: relative;
    right: 50%;}
      .recuar { position:absolute; height:auto; width:100px; left:50%; margin-left:-50px; min-height:32px; background:url(imgs/tab.png) no-repeat center  bottom; text-align:center; z-index:801; cursor:pointer; }
      /*.recuar { position:relative; float:right; height:auto; width:5%; min-height:30px; background-color:#00a8e0; text-align:center;}*/
      .btn-recuar { background:url(imgs/recuar-seta.png); background-repeat:no-repeat; background-position:center; width:25px; height:23px; float:right; cursor:pointer;}
      .recuar-txt { color: #000;
    float: right;
    font-size: 10px;
    font-weight:bold;
    height: 18px;
    width: auto;
    margin-right:3px;
    padding: 5px 0 0;
    display:inline;
    cursor: pointer;
    }
	
	/* Kleber */
	
.menu-mobile {
	display: none;
}	
	
@media (max-width: 768px){

.ui-widget-content { width: 310px!important;}
.boxdialog `{ width: 300px!important; }

.menu-mobile {
	display: block;
	position: relative;
	width: 100%;
	min-height: 36px;
	border-bottom: 2px solid #E9E9E9;
}
.menu-mobile ul {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 36px;
	background-color: #f4f4f4;
}
.menu-mobile li {
	display: inline;
	float: left;
	width: 50%;
	text-align:center;
    border-right: 1px solid #8c99a4;  
    box-sizing:border-box;  
    -moz-box-sizing:border-box;  
    -webkit-box-sizing:border-box;  
}
.menu-mobile li:first-child {
	width: 50%;	
}
.menu-mobile li:last-child {
    border-right: none;
    box-sizing:border-box;  
}
.menu-mobile a {  
    color: #4e4e4e;  
    display: inline-block;  
    width: 100%;  
    text-align: center;  
    text-decoration: none;  
    line-height: 36px;  
    text-shadow: 1px 1px 0px #fff;  
}
.menu-mobile li:last-child a {  
    border-right: 0;  
}
.menu-mobile a:hover, menu-mobile a:active {  
    background-color: #8c99a4;  
	color:#f4f4f4;
	text-shadow: 1px 1px 0px #4e4e4e;  
}
.menu-mobile a#pull {  
    display: none;  
}
}

	
	
	 /* .social-icons-c {width:100%; height:35px; padding:5px 0;} */
	 
	.social-icons {position:absolute; width:246px; height:32px; top:250px; right:5px; padding:8px 10px; background:#fff; z-index:999;}
	
	@media (max-width: 768px) {
	.social-icons {display:none;}
	}	
	

	
	
      #map_canvas { height: 100%; left: 0; margin: 0; padding: 0; position: relative; top: 0; width: 100%; }
	
    .menu { 
	float: left;
    height: auto;
    position: relative !important;
    top: 0px;
    width: 222px;
	margin-right:12px;}
	
	.interacao {
	position:relative;
	width:100%;
	height:50px;
	margin:0;
	padding:0;
	}
	
	.participe {
	position:absolute;
	width:470px;
	height:60px;
	top:255px;
	left:120px;
    margin: 0;
    padding: 0;
	z-index:800;
	}
		
	.colEsquerda{
	position:relative !important;
    height: auto;
    margin: 0;
    padding: 0;
	}

    .filtros{ 
	position:relative !important; 
    height: auto;
    margin:0;
    padding: 0;
	}
	
.subir {
	position:fixed;
	bottom:0px;
	left:0px;
	width:75px;
	height:24px;
	background:url('imgs/subir.png') no-repeat;
}

.compartilhe {display:none;}		
		
@media (max-width: 768px) {
.participe { position:absolute; width:100%; height:auto; left:initial; top:188px; left:0px !important; display:block; }
.form-view {display:none;}
.menu {float: left; height: auto; margin-top:5px;}
.social-phone { display:block; float: left;  position: relative !important; width:100%; height:60px; background-color:#fff; display:none; }
.compartilhe {
      display:block;
      height:200px;
      width:200px;
      margin:0 auto;
      padding-top:15px;   
}
.mgl-10 { margin-left:10px;}
}
@media (max-width: 320px) {
	  .participe {top:108px; width:100%; height:auto;}
}
@media (min-width: 321px) and (max-width: 640px) {
	.participe {top:128px;}
}


#filtros {
     font-size: 10px;
}
	
#container {    
    margin: 0 auto;
    width: 100%;
	position:relative;
	}
h2.titulo { background: url("imgs/bg_tit_menu.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 20px;
    height: 19px;
    margin: 0;
    padding: 7px 0 15px 11px;
    text-align: center;
    width: 211px; cursor:move; }
	
.menu h2 .minus-plus, .menu h2 .minus-plus-filtro {cursor: pointer;
    display: block;
    float: left;
    height: 21px;
    position: relative;
    top: 4px;
    width: 21px;}
	
.formulario, .formulario_filtro { background: url("imgs/seta.png") no-repeat scroll center top #FFFFFF;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    float: left;
    height: auto;
    padding: 20px 10px 10px;
    width: 200px;}

.form-content { 
		border: 1px solid #ABABAB;
		float: left;
		margin-top: -1px;
		top: -1px;
		margin-bottom: 20px;		
	}	
	
.form-content2 { 
		border: 0px solid #ABABAB;
		float: left;
		margin-top: -1px;
		top: -1px;
		margin-bottom: 20px;		
	}	
	
.foot-form { background:url(imgs/foot.png); background-position:bottom; background-repeat:no-repeat; width:222px; height:10px;display:block;float:left;}	
	
input[type=text].first { margin:0; }
	
input[type=text], textarea{color: #545454;
    font-size: 11px;
    height: 30px;
    padding: 0 0 0 5px;
    width: 193px;
	margin-top: 13px; 
	font-family:Tahoma, Geneva, sans-serif;
	border:1px solid #AAA}
	
input[type=password], textarea{color: #545454;
    font-size: 11px;
    height: 30px;
    padding: 0 0 0 5px;
    width: 193px;
	margin-top: 13px; 
	font-family:Tahoma, Geneva, sans-serif;
	border:1px solid #AAA}	
	
.styled-select select {
 background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #545454;
    font-family: tahoma;
    font-size: 11px;
    height: 34px;
    padding: 7px 2px;
    width: 266px;
}

.sbHolder {
   background-color:#fff;
  border:1px solid #aaa;
  font-family:Tahoma, sans-serif;
  font-size:11px;
  font-weight:normal;
  height:30px;
  position:relative;
  width:198px;
  margin-top:13px;
}	

.sbToggle {
    background: url("imgs/combobox_bg.png") no-repeat scroll 9px center transparent;
    border-left: 1px solid #AAAAAA;
    display: block;
    height: 30px;
    outline-style: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}
	
.sbSelector {
  color: #545454;
    display: block;
    height: 30px;
    left: 0;
    line-height: 30px;
    margin-left: 0px;
    outline: medium none;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    text-indent: 10px;
    top: 0;
    width: 167px;
}	

.sbOptions {
  background-color:#ffffff;
  border:1px solid #aaaaaa;
  left:-1px;
  list-style:none;
  margin:0;
  overflow-y:auto;
  padding:0;
  position:absolute;
  top:30px;
  width:198px;
  z-index:1;
  max-height: 315px !important;
}

.sbOptions li:hover {
	background-color:#eee;	
}

.sbOptionsEstado {
  background-color:#ffffff;
  border:1px solid #aaaaaa;
  left:-1px;
  list-style:none;
  margin:0;
  overflow-y:auto;
  padding:0;
  position:absolute;
  top:30px;
  width:198px;
  z-index:1;
  max-height: 315px !important;
}

.sbOptionsEstado li:hover {
	background-color:#eee;	
}

.sbOptionsTransporte {
  background-color:#ffffff;
  border:1px solid #aaaaaa;
  left:-1px;
  list-style:none;
  margin:0;
  overflow-y:auto;
  padding:0;
  position:absolute;
  top:30px;
  width:198px;
  z-index:1;
  max-height: 315px !important;
}

.sbOptionsTransporte li:hover {
  background-color:#eee;  
}

.sbOptions li:nth-child(1) { display:none;  }
.sbOptions li:nth-child(2) a { background: url("imgs/cruz.png") no-repeat scroll 10px center transparent;  }
.sbOptions li:nth-child(3) a{ background: url("imgs/mochila.png") no-repeat scroll 10px center transparent;  }
.sbOptions li:nth-child(4) a{ background: url("imgs/maleta.png") no-repeat scroll 10px center transparent;  }
.sbOptions li:nth-child(5) a{ background: url("imgs/escudo.png") no-repeat scroll 10px center transparent;  }
.sbOptions li:nth-child(6) a{ background: url("imgs/cadeira.png") no-repeat scroll 10px center transparent;  }
.sbOptions li:nth-child(7) a{ background: url("imgs/martelo.png") no-repeat scroll 10px center transparent;  }
.sbOptions li:nth-child(8) a{ background: url("imgs/pessoas.png") no-repeat scroll 10px center transparent;  }
.sbOptions li:nth-child(9) a{ background: url("imgs/tree.png") no-repeat scroll 10px center transparent;  }
.sbOptions li:nth-child(10) a{ background: url("imgs/bus.png") no-repeat scroll 10px center transparent;  }
.sbOptions li:nth-child(11) a{ background: url("imgs/ball.png") no-repeat scroll 10px center transparent;  }
.sbOptions li:nth-child(12) a{ background: url("imgs/reticencias.png") no-repeat scroll 10px center transparent;  }

.sbOptionsEstado li:nth-child(1) { display:none;  }
                                
.sbOptions a {
  border-bottom-color:#aaa;
  border-bottom-style:solid;
  border-bottom-width:1px;
  display:block;
  outline:none;
  padding: 7px 0 7px 35px;
  text-decoration:none;
  color:#545454;
  font-size:11px;
}

.sbOptionsEstado a {
  border-bottom-color:#aaa;
  border-bottom-style:solid;
  border-bottom-width:1px;
  display:block;
  outline:none;
  padding: 7px 0 7px 10px;
  text-decoration:none;
  color:#545454;
  font-size:11px;
}

.sbOptionsTransporte a {
  border-bottom-color:#aaa;
  border-bottom-style:solid;
  border-bottom-width:1px;
  display:block;
  outline:none;
  padding: 7px 0 7px 10px;
  text-decoration:none;
  color:#545454;
  font-size:11px;
}

	textarea {
    height: 75px;
    padding-top: 5px;
	resize:none;
	}
	
	/* container of the file upload elements and look of the field */
.file, .file-depois {
    float: left;
    position: relative;
    width: 197px;
}

.info-arquivo { color: #545454;
    float: left;
    font-size: 10px;
    margin: 14px 0 0 10px; }
    
.info-arquivo2 { color: #545454;
    float: left;
    font-size: 10px;
    margin: 0px 0 0 0px;
    margin-top: 10px;
     }    
/* style text of the upload field and add an attachment icon */
.file .button{
	background: url("imgs/procurar.jpg") no-repeat scroll right center transparent;
    cursor: pointer;
    float: right;
    height: 21px;
    margin: 10px 10px 10px 0;
    width: 70px;
}

.info-arquivo-depois { color: #545454;
    float: left;
    font-size: 10px;
    margin: 14px 0 0 10px; }
/* style text of the upload field and add an attachment icon */
.file-depois .button-depois{
	background: url("imgs/procurar.jpg") no-repeat scroll right center transparent;
    cursor: pointer;
    float: right;
    height: 21px;
    margin: 10px 10px 10px 0;
    width: 70px;
}

.info-arquivo-principal { color: #545454;
    float: left;
    font-size: 10px;
    margin: 14px 0 0 10px; }
/* style text of the upload field and add an attachment icon */
.file-principal .button-principal{
    background: url("imgs/procurar.jpg") no-repeat scroll right center transparent;
    cursor: pointer;
    float: right;
    height: 21px;
    margin: 10px 10px 10px 0;
    width: 70px;
    position:relative;
}

#file_upload {
	position:relative;
	padding-bottom:13px;
	height:70px;
}

/* hide the real file upload input field */
.file input, .file-depois input, .file-principal input {	
    font-size: 1px;
    height: 76%;
    letter-spacing: 1.7em;
    opacity: 0;
    position: absolute;
    right: 7px;
    top: 9px;
	display:none;
}

.tabnav { float: left;
    list-style: none outside none;
    margin-bottom: 0;
    padding: 0;
    width: 100%; position:relative;
    margin-top: 10px }
.tabnav li {float: left;
    height: 21px;
    /*padding: 0 6px;*/
    padding-left: 4px;
    padding-right: 4px;
    width: 50px;
	margin-right:3px;
	cursor:pointer;
	color: #545454; 
	font-size: 12px; 
	text-decoration: none; 
	line-height: 1.6em;
}

.video input {font-size: 11px;
    height: 21px;
    margin: 9px 5px;
    width: 180px;}
	
.tabnav li.active { background:url(imgs/bg-li.jpg); color:#4B7214}
.tabnav li.second{ padding: 0 3px; width: 49px; }
.tabnav li:hover { background:url(imgs/bg-li.jpg); }

.video { display:none; }

.buttons { 
	/*border-top: 1px solid #AAAAAA;*/
    color: #FFFFFF;
    float: right;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0 0;
    text-align: right;
    width: 345px; 
    line-height:18px;
}

.button-verde, #send { background: url("imgs/bg-bt-verde.jpg") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 16px;
    padding: 4px 10px;
    width: 125px;
	margin-top:6px
	}
.button-cinza {
	cursor: pointer;
	height: 16px;
	width: 125px;
	margin-top:6px;
	background-attachment: scroll;
	background-color: #CCC;
	background-repeat: repeat;
	background-position: 0 0;
	color: #666;
	margin-right: 10px;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: 10px;
	}


/* Box - tooltip do mapa */

.infoBox {
	position: relative;
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 8px;
}
.infoBox:after, .infoBox:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.infoBox:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 12px;
	margin-left: -12px;
}
.infoBox:before {
	border-color: rgba(170, 170, 170, 0);
	border-top-color: #aaa;
	border-width: 13px;
	margin-left: -13px;
}

@media (max-width: 767px) {
.infoBox {
  width: 86% !important;
  margin-left: 1.5%;
  margin-top: 40px;
} 
}


/*.mais {
	position: absolute;
    right: 0;
	font-style:normal;
	color:#ffffff;
	background:#dd1919;
	border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	width:auto;
	padding:5px 10px;
	cursor:pointer;
	text-decoration: none;
	margin:0 auto;
}
.mais:hover {
	text-decoration:underline;
}
.mais:active{
cursor:pointer;
position:relative;
top:2px;
}


.mais-depois {
	bottom: 0;
    color: #545454;
    font-size: 12px;
    right: 0;
    text-decoration: none; 
}
	
.mais-depois:hover {
	text-decoration:underline;
}

.hide{
    display: none;
}*/

/* Fim Box - tooltip do mapa */



#popup { border: medium none;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-top: 0;}
	
#votar { margin-right: 5px; }
 
#send {
 border:medium none;
 color:#FFFFFF;
 font-family:tahoma;
 font-weight:bold;
 height:22px;
 padding-top:2px;
 width:75px;
}
	
.alertas {background: none repeat scroll 0 0 #FFCFBF;
    color: #8C0000;
    display: none;
    float: left;
    font-size: 11px;
    margin: 0 0 20px;
    min-width: 179px;
    padding: 10px;}
	
/*droppable files*/
	
#drop-files { background: none repeat scroll 0 0 #DFDFD0;
    color: #555555;
    float: left;
    font-size: 12px;
    height: 25px;
    margin: 0 10px 10px;
    padding: 10px 0 0;
    text-align: center;
    width: 177px; }

#drop-files-depois { background: none repeat scroll 0 0 #DFDFD0;
    color: #555555;
    float: left;
    font-size: 12px;
    height: 25px;
    margin: 0 10px 10px;
    padding: 10px 0 0;
    text-align: center;
    width: 177px; }

#drop-files-principal { background: none repeat scroll 0 0 #DFDFD0;
    color: #555555;
    float: left;
    font-size: 12px;
    height: 25px;
    margin: 0 10px 10px;
    padding: 10px 0 0;
    text-align: center;
    width: 177px; }
	
#uploaded-holder {        
    display: none;
    float: left;
}
	
#upload-button { border: 1px dashed #AAAAAA;
    color: #555555;
    float: left;
    font-size: 12px;
    margin: 0 10px 10px;
    padding: 5px;
    width: 166px;
    overflow:hidden;
    display:none }
	
.delete {
    background: none repeat scroll 0 0 #FFDCDC;
    color: #D21010;
    float: left;
    margin-right: 10px;
    padding: 2px 7px 4px;
    text-align: center;
    text-decoration: none;
}

#upload-button span {position: relative;
    top: 3px;}
	
#dropped-files .image {
    display: block;
    float: left;
    height: 150px;
    margin: 0 10px 10px;
    width: 178px;
    overflow: hidden;
}

#loading {
    display: none;
    float: left;
    width: 100%;
    position: relative;
}
 
#loading-bar {
    width: 199px;
    height: 30px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 2px;
}
 
.loading-color {
    width: 0%;
    height: 100%;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    border-radius: inherit;
    background-color: #87ce25;
}
 
#loading-content {
    position: absolute;
    top: 6px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    width: 199px;
}

.ui-autocomplete { padding:0; border:1px solid #aaa; width:720px;}

.ui-autocomplete li {background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #AAAAAA;
    list-style: none outside none;    
    max-width: 720px;
    overflow: hidden;
    padding: 5px;}
	
.ui-autocomplete li.ui-menu-item:hover { background:#CAF59A !important; cursor:pointer; color:#030}


/* Participe */

@media (max-width: 768px) {
.menu { 
	float: left;
    height: auto;
    position: relative !important;
    top: 0px;
    width: 100%;
	margin-right:2%;
}
.formulario, .formulario_filtro { 
    height: auto;
    padding: 4% 4%;
    width: 92%;}
input[type=text], textarea{color: #545454;
    font-size: 11px;
    height: 30px;
    padding: 0 0 0 2%;
    width: 100%;
	margin-top: 13px; 
}
.sbHolder {
  width:102%;
  margin-top:13px;
}
#drop-files-principal { 
	background: none repeat scroll 0 0 #DFDFD0;
	clear:both;
    float: left;
    text-align: center;
    width: 177px;
}
.file-principal .button-principal{
    float: left;
    height: 21px;
    margin: 10px 10px 10px 20px;
    width: 70px;
}
.foot-form { display:none; }	
h2.titulo  { display:none; }	
}





/*tooltip*/

.tooltip { 
	display:none;
	width:600px;
	height:auto;
	padding:10px;
	border:1px solid #060;
	background:#fff;
	position:absolute;
	z-index:999;	
}

/* MODAL */

#mask{
position:fixed; /* important */
top:0px; /* start from top */
left:0px; /* start from left */
height:100%; /* cover the whole page */
width:100%;  /* cover the whole page */
display:none; /* don't show it '*/
z-index:9000;

/* styling bellow */
background-color: black;
}

.modal-window{
    background: #000;
    display: none;
    height: auto;
    /*padding: 20px;*/ 
    padding: 10px; /* Thiago - 12/02/2015 */
    position: fixed;
    width: auto;
    z-index: 9001;
	margin: 0 auto;	
}
@media (max-width: 851px) {
 .modal-window {
	margin-left:-110px; 
	width:83%;
	margin: 0 auto;
	}
}

@media (max-width: 768px) {
.modal-window{
    background: #000;
	top: 0px !important;
	left: 0px !important;
    display: none;
    height: auto;
    padding: 2%;
    position: absolute;
    width: 96% !important;
    z-index: 9001;
	margin: 0 auto;
	}	
}
}

#modal-content {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    height: 392px;
    padding: 20px;
    width: 488px;
}


/* SCROLLER */

.row { list-style: none outside none;
    margin: 0;
    padding: 10px 0 10px 10px; float:left; border-bottom:1px solid #014A1A}
	
.row:last-child { border:none; }
	
.row li { float:left;}

li.position { height: auto;
    padding: 15px 20px 0 8px; text-align:center; width:30px;}
	

li.reclamation {
    padding: 0 20px;
    width: 234px;
}
li.reclamation p{ line-height:16px; }
li.reclamation h3 { margin:0; color:#D80000; font-size:16px;}

span.num-votos { color: #004A19;
    display: block;
    font-size: 25px;
    font-weight: bold; }
	
span.label { color: #525252;
    display: block;
    font-size: 14px;
    text-align: center; }

li.votos { height: 30px;
    padding: 10px 5px; }
	
.position strong { font-size:26px; }

.contain {  display: block;
    float: left;
    height: 374px;
    width: 490px; }
	
.header-table {float: left;
    list-style: none outside none;
    padding: 5px 0 5px 10px;
    width: 457px;  
	margin:0;
	background:url(imgs/bg_header.png) repeat;}
	
.header-table li{ color: #FFFFFF;
    display: inline;
    font-size: 14px;
    font-weight: bold; }

.header-table li:first-child{  margin-right:6px; }
.header-table li:nth-child(2) { margin-right:70px; }
.header-table li:nth-child(3) { margin-right:120px; }

.scrollable {
    float: left;
    height: 74%;
    overflow: hidden !important;
    position: relative;
    top: 0;
    width: 100%;
}

.scrollable.no_scroll_h .scrollcontent {
    bottom: 0;
    height: 100%;
    top: auto;
}

.scrollable .vscroller {
    bottom: 20px;
    left: auto;
    right: 6px;
    top: 0;
    width: 10px !important;
	background: none repeat scroll 0 0 transparent !important;
}

.scrollable .scrollarea {
    background-color: #CCCCCC !important;
    border: medium none !important;
    box-shadow: none !important;
    height: 93%;
}

.scrollable .scrollbtn {
    
    display: none !important;
    
}

.scrollable .vscroller .scrollarea {
    left: 2px !important;
    right: 2px !important;
    width: 6px !important;
}

.scrollable .vscroller .scrollblock {
    background: none repeat scroll 0 0 #545454 !important;
    left: 0;
    right: 0;
    border:none !important;
}


/* corrige erros */
.wrong { border:1px solid #F00 !important }

/* POPUP */

.picture {
    float: left;
    padding: 0;
    width: 55px;
}
.picture img { float:left; }
.picture .votos { float:left; }
.picture .votos .num-votos { font-size:20px; text-align:center; }
.picture .votos .label { font-size:12px; text-align:center; }

.resumo {
    float: right;
    padding: 0 0 0 10px;
	width: 100%;
    /* width: -webkit-calc(100% - 95px); */
    /* width: -moz-calc(100% - 95px); */
    /* width: calc(100% - 95px); */
	min-height:180px;
}
.resumo h2 {background: url("imgs/bg-titulo.png") repeat scroll 0 0 transparent;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 0 5px 10px;
    text-align: left;
    width: 97%; 
    margin-top:0; 
    margin-bottom:5px;
    overflow: hidden;
    line-height: 20px;
    }

.resumo .conteudo { 
    width:100%;
    float: left;
    margin-bottom: 8px;
    padding-bottom: 8px; 
    border-bottom: 1px solid #AAAAAA;
    /* height: 136px */
}
/*.resumo .thumb img { height: auto;   width: 106px; }*/
.resumo .thumb img { height: auto;  }
.resumo .thumb { float:left; margin-right:10px; height: 100%; overflow:hidden }
.resumo .teaser { 
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
    overflow: hidden;
}

.resumo .teaser p { 
	color: #545454; 
	font-size:12px; 
	float: left; 
	/* width: 60%; */
	/* width: -webkit-calc(100% - 70px); */
    /* width: -moz-calc(100% - 70px); */
	/* width: calc(100% - 70px);  */
}

.botoes {
    float: right;
    margin-right: 9px;
}

#contentL {
    float: left;
    height: 390px;
    width: 382px; 
    margin-right: 10px;	
 /*   border-bottom: 1px solid #AAAAAA;*/ /* Thiago - 12/02/2015 */
}

#contentR { background: none repeat scroll 0 0 #FFFFFF;
    float: right;
    height: 390px;
    width: 265px; }

.uploadedContent { background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    padding: 10px;
    /* width: 361px;
    height: 103px;  */
}
	
.uploadedFile { 
    float: left;
    margin-bottom: 10px; 
    overflow: hidden;
}
	
ul.comments { display: block;
    height: auto;
    list-style: none outside none;
    margin: 0;
    padding: 0; }

ul.comments li { 
    float: left;
    padding: 10px 10px 0;
    width: 93%; }

ul.comments li img { float: left; }

ul.comments li p {
    float:right;
    line-height:16px;
    margin-top:-3px;
    max-width:175px;
}
	
ul.comments li div {
    border-bottom-color:#AAAAAA;
    border-bottom-style:solid;
    border-bottom-width:1px;
    float:left;
    padding-bottom:10px;
    width:100%;
}

ul.comments li:last-child div { border:none; }

#comentarios .scrollcontent { left:0; right:0 !important }
#comentarios .scrollcontent .scrollwrap{ width:100%; }

.mais {  
    position: relative;
	float:right;
	background: #ff0303;
    color: #fff;
	padding: 2px 5px 2px 5px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
	margin-top:0px;
}
.box-top-coment {
	width:92%;
	height:80px;
	margin:0;
	background-color:#e3e3e3;
	border:#b4b4b4 1px solid;
	color:#545454;
	font-size:12px;
	padding:3% 4%;
}	
.mais:hover {
	background: #a30000;
	text-decoration:none;
}

.mais-depois {  
	bottom: 0;
    color: #545454;
    font-size: 12px;
    font-weight: bold;
    right: 0;
    text-decoration: none; 
}
	
.mais-depois:hover { text-decoration:underline; }

.hide{
    display: none;
}

#closeimg {
	position:absolute;
	right:-20px;
	top:-20px;
	z-index:1;
	cursor:pointer;
	z-index:10000
}

@media (max-width: 768px) {
#contentL {
    height: 100%;
    margin-right: 10px;
    width: 100%;
	background-color:#fff;
	padding-bottom: 10px;
}

#contentR { 
	background: none repeat scroll 0 0 #FFFFFF;
    height: 256px;
    width: 100%;
	background-color:#fff;
}

.uploadedContent { 
	background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    padding: 0px;
    width: 100%;
    height: 103px; 
}
	
.uploadedFile { 
    float: left;
    height: 230px;
	width: 100%;
    margin-bottom: 10px; 
    overflow: hidden;
}


	
ul.comments { 
	display: block;
    height: auto;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.comments li { 
    float: left;
    padding: 2% 2%;
    width: 96%; 
}

ul.comments li img { float: left; }

ul.comments li p {
    float:right;
    line-height:16px;
    margin-top:-3px;
    max-width: 80%;
}
#closeimg {
	right:-5px !important;
	top:-5px !important;
}
.resumo .conteudo { 
    border-bottom: none;
}
.picture {
	margin-left: 2%;
}
.video input {
    margin: 9px 12px 9px 5px;
    width: 300px;
}
.l_duas_imgs {
	width: 100% !important;
}
}
@media (max-width: 320px) {
.uploadedFile { 
    height: 200px;
}
.resumo {
	width: 72%;
}
.resumo .teaser { 
    float: left;
    height: 56px;
    position: relative;
    width: 100%; 
    overflow: hidden;
}
.resumo .teaser p {
	width: 62%;
}
.video input {
    margin: 9px 12px 9px 5px;
    width: 260px;
}
}

div.aviso {
    background: none repeat scroll 0 0 red;
    color: white;
    display: none;
    font-size: 50px;
    height: 50px;
    left: 50%;
    line-height: 41px;
    margin-left: -25%;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50%;
    z-index: 9999;
}

.sucesso { background-color:#D0F4C6 !important; color:#090 !important }

.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}
.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
}
.move-down {display:block;}

#makeComent { width:100%; float:left; }

.coments li div textarea { width: 72%; }

.images_b4 {
	width: 49.2%;
	vertical-align: top;
}
/*.l_duas_imgs {
	width: 564px !important;
}
*/ /* Thiago - 12/02/2015 */
.box_duas_imgs {
/*	width: 101%;*/
	width: 100%; /* Thiago Thiago - 12/02/2015 */
	/*height: 200px;*/
	/*height: 150px;	/* Thiago Thiago - 12/02/2015 */
}
/*.duas_imgs {
	width: 544px;
	margin-top: 57px;
}*//* Thiago - 12/02/2015 */
/*.modal_duas_imgs {
	width: 840px;
}*//* Thiago - 12/02/2015 */

@media (max-width: 768px) {
.l_duas_imgs {
	width: 100% !important;
}
.duas_imgs {
	width: 100%;
	margin-top: 20px;
}
#contentR {
  position: relative;
}
#makeComent { 
  width:100%;
  position: absolute;
  border-bottom: #eee solid 1px;
}
#comentarios {
  width:100%;
  position: absolute;
  top: 100px;

}
}
@media (max-width: 320px) {
.box_duas_imgs {
	width: 100%;
	height: auto;
}	
.images_b4 {
	width: 100%;
}
}



/*.cadastroIni {
	position:absolute;
	top:200px;
	left:700px;
	width:441px;
	height:320px;
	padding:20px;
	background-color:#fff;
	z-index:9999999;
}
.cadastroL {
	position:relative;
	width:200px;
	float:left;
	height:320px;
	padding-right:20px;
	border-right: #b6b6b6 1px solid;
}
.cadastroR {
	position:relative;
	float:right;
	width:200px;
	height:420px;
	padding-left:20px;
}
.cadastroIni span {
	display:block;
	font-size:16px;
	color:#333;
	margin-bottom:15px;
}
.cadastroIni select {
	width:200px;
	height:30px;
	margin:15px 0;
	color:#545454;
	font-size:11px;
}
.cadastroIni label {
	color:#545454;
	font-size:11px;
}
input[type='radio'] {   
    margin-top: -2px;
 }
.btCadastro {
	width: 200px;
	height: 40px;
	border-top: #aaaaaa 1px solid;
	margin:15px 0px;
}
.cadastroIni .button-verde {
	float: right;
    height: 24px;
	border: none;
    padding:4px 10px;
    width: auto;
	margin-top: 10px;
	color:#fff;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
}
*/



/*! jQuery UI - v1.9.2 - 2013-08-21
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.datepicker.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Arial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=6px&bgColorHeader=cc0000&bgTextureHeader=highlight_soft&bgImgOpacityHeader=15&borderColorHeader=e3a1a1&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=eeeeee&fcContent=333333&iconColorContent=cc0000&bgColorDefault=eeeeee&bgTextureDefault=highlight_hard&bgImgOpacityDefault=100&borderColorDefault=d8dcdf&fcDefault=004276&iconColorDefault=cc0000&bgColorHover=f6f6f6&bgTextureHover=highlight_hard&bgImgOpacityHover=100&borderColorHover=cdd5da&fcHover=111111&iconColorHover=cc0000&bgColorActive=ffffff&bgTextureActive=flat&bgImgOpacityActive=65&borderColorActive=eeeeee&fcActive=cc0000&iconColorActive=cc0000&bgColorHighlight=fbf8ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcd3a1&fcHighlight=444444&iconColorHighlight=004276&bgColorError=f3d8d8&bgTextureError=diagonals_thick&bgImgOpacityError=75&borderColorError=cc0000&fcError=2e2e2e&iconColorError=cc0000&bgColorOverlay=a6a6a6&bgTextureOverlay=dots_small&bgImgOpacityOverlay=65&opacityOverlay=40&bgColorShadow=333333&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=10&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}
/* Component containers
----------------------------------*/
.ui-widget { font-family: Arial,sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #eeeeee; background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #333333;}
.ui-widget-content a { color: #333333; }
.ui-widget-header { border: 1px solid #e3a1a1; background: #cc0000 url(images/ui-bg_highlight-soft_15_cc0000_1x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }



/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d8dcdf; background: #eeeeee url(images/ui-bg_highlight-hard_100_eeeeee_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #004276; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #004276; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #cdd5da; background: #f6f6f6 url(images/ui-bg_highlight-hard_100_f6f6f6_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #111111; }
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited { color: #111111; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #eeeeee; background: #ffffff url(images/ui-bg_flat_65_ffffff_40x100.png) 50% 50% repeat-x; font-weight: bold; color: #cc0000; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #cc0000; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fcd3a1; background: #fbf8ee url(images/ui-bg_glass_55_fbf8ee_1x400.png) 50% 50% repeat-x; color: #444444; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #444444; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cc0000; background: #f3d8d8 url(images/ui-bg_diagonals-thick_75_f3d8d8_40x40.png) 50% 50% repeat; color: #2e2e2e; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #2e2e2e; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #2e2e2e; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-state-disabled .ui-icon { filter:Alpha(Opacity=35); } /* For IE8 - See #6059 */

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_cc0000_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_cc0000_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_ffffff_256x240.png); }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_cc0000_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_cc0000_256x240.png); }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_cc0000_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_004276_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_cc0000_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }

button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */
.ui-dialog { position: absolute; top: 0; left: 0; padding: .2em; width: 300px; overflow: hidden; z-index: 10000 !important}
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; -khtml-border-top-left-radius: 6px; border-top-left-radius: 6px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; -khtml-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; -khtml-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; -khtml-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }

/* Overlays */
.ui-widget-overlay { background: #a6a6a6 url(images/ui-bg_flat_0_333333_40x100.png) 50% 50% repeat; opacity: .8;filter:Alpha(Opacity=80); }
/*.ui-widget-overlay { background: #a6a6a6 url(images/ui-bg_dots-small_65_a6a6a6_2x2.png) 50% 50% repeat; opacity: .8;filter:Alpha(Opacity=80); }*/
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #333333 url(images/ui-bg_flat_0_333333_40x100.png) 50% 50% repeat-x; opacity: .1;filter:Alpha(Opacity=10); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

.ui-slider-horizontal {
  height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: .8em;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}



.cadastroIni {
	width:530px;
	height:320px;
	padding:5px;
	background-color:#fff;
	z-index:9999999;
}
.cadastroL {
	position:relative;
	width:295px;
	float:left;
	height:320px;
	padding-right:5px;
	border-right: #b6b6b6 1px solid;
}
.cadastroR {
	position:relative;
	float:right;
	width:200px;
	height:350px;
    background-color: #FFD8D8;
    border: 1px solid #000;
    padding: 7px;
}
.cadastroIni span {
	display:block;
	font-size:16px;
	color:#333;
	margin-bottom:15px;
}
.cadastroIni select {
	width:200px;
	height:30px;
	margin:15px 0;
	color:#545454;
	font-size:11px;
}
.cadastroIni label {
	color:#545454;
	font-size:11px;
}
input[type='radio'] {   
    margin-top: -2px;
 }
.btCadastro {
	width: 200px;
	height: 40px;
	border-top: #aaaaaa 1px solid;
	margin:15px 0px;
}
.cadastroIni .button-verde {
	float: right;
    height: 24px;
	border: none;
    padding:4px 10px;
    width: auto;
	margin-top: 10px;
	color:#fff;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
}


.no-close .ui-dialog-titlebar-close {display: none }


 .fbLogin{ 
	    float: right;
	    height: auto;
	    margin: 0px;
	    padding:0px;
	    position: absolute;
	    width: 100px;
	    z-index: 9000; 
		top: 350px; /*original 10px;*/;
	}
	
 .fbLoginInside{ 
    float: right;
    height: 50px;
    /*left: 85px;*/
    margin-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 100px;
    z-index: 9000; 
	top: -128px;
	/* background-color:#fff; */
}


/* CLASSES PARA PUBLICIDADE SUPERIOR E LATERAL */ 
.top-publicidade {
	top:380px!important;
	}
.banner-superior {
	width: 728px;
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	border: 1px solid #000000;
	margin-bottom: 15px;
	}
.banner-lateral {
	width: 230px;
	height: 180px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 115px;
	border: 1px solid #000000;
	right:5px; 
	z-index:999;
	position:absolute;	}

	
.ui-dialog `{
	width: 320px!important;
}	

.approval tr:nth-child(odd) {
	background-color:#CCCCCC;
}
.approval tr:nth-child(even) {
	background-color:#EEEEEE;
}

.modal-admin {
	width:100%;
	height:40px;
	background-color:green;
	z-index:999;
	padding-top:10px;
}
.modal-admin p {
	margin-left:10px;
	color:#fff;
    font-size: 16px;
	}

.estadoConquista{cursor: pointer; display: block; margin-top: 10px; padding: 0.5px 2px; text-align: center;}
.estadoConquistaVerMais{cursor: pointer; padding: 0.5px 2px; margin-top: 5px; display: block; font-size:10px;}
	
.estadoConquista.finalizado, .estadoConquistaVerMais.finalizado{background: #8DC63F;}
.estadoConquista.execucao, .estadoConquistaVerMais.execucao{background: #FEF202;}
.estadoConquista.liberacao, .estadoConquistaVerMais.liberacao{background: #F16522;}
	
	
.modal.fade.in {
    top: 75%;
}